#loader {
    position: fixed;
    text-align: center;
    top: 50%;
    width: 100%;
}

.navbar-nav li {
    text-align: center;
}

.container-fade-enter-active,
.container-fade-leave-active {
    transition: opacity .5s;
}

.container-fade-enter,
.container-fade-leave-to {
    opacity: 0;
}

.progressbar-bounce-enter-active {
    animation: bounce-in .5s;
}

.progressbar-bounce-leave-active {
    animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

#footer {
    margin-bottom: 0px;
    color: white;
    background-color: black;
}